.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 104px;
    height: 24px;
    padding: 0 0 0 27px;
  }
}

/* все дробные значения округлены тк прошлый ревьюер сказал, что это усложняет читаемость кода, так что может немножко не совпасть с макетом */